/* ray test touch < */
/* MEMO: inspired by https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input.interlayInput::-webkit-outer-spin-button,
input.interlayInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.interlayInput[type='number'] {
  -moz-appearance: textfield;
}
/* ray test touch > */