@import "../../variables";

// ray test touch <
.app-page {
  .app-btn {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 35px;
    font-weight: 700;
    border-radius: 10px;
    text-transform: uppercase;
  }
}
// ray test touch >

// ray test touch <
.temp-text-left {
  font-weight: 500;
  opacity: 0.5;
  text-align: left;
}
// ray test touch >

// ray test touch <
// TODO: should be correctly descriptive
.right-text {
  font-weight: 700;
}
// ray test touch >

// ray test touch <
.total-added-value {
  opacity: 1;
}
// ray test touch >

.bold {
  font-weight: 600;
}

.locking-by {
  border: 2px solid #998;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 3rem;

  img {
    margin-bottom: 3px;
  }
}

.balances-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.bridge-fee {
  text-align: center;
  font-weight: 600;
  color: $d_grey;
}

.wizard-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.refund-title {
  font-size: 1.1rem;
  color: black;
  text-align: center;
  font-weight: 700;
}

.refund-subtitle {
  font-weight: 700;
  text-align: center;
  opacity: 0.5;
  font-size: 1rem;
}

.refund-amount {
  font-weight: 700;
  color: $d_orange;
}

.orange-text {
  color: $d_orange;
}

.refund-step>* {
  float: right;
}

// ray test touch <
.green-text {
  color: $d_green;
}
// ray test touch >

.reimburse-title {
  font-size: 1.5rem;
  color: $d_yellow;
  font-weight: 600;
  text-align: center;
}

.reimburse-send {
  font-weight: 600;
  color: $d_grey;
  text-align: center;

  span {
    color: $d_pink;
  }
}

.to-redeem {
  text-align: center;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.receive-compensation {
  font-weight: 600;
  color: $d_grey;
  text-align: center;
  margin-bottom: 1rem;

  span {
    color: $d_pink;
  }
}

// ray test touch <
.total-amount {
  font-weight: 600;
}
// ray test touch >

// ray test touch <
.step-item {
  padding: 0.7rem;
}
// ray test touch >

// ray test touch <
.total-divider {
  margin: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
// ray test touch >

// ray test touch <
.copy-address {
  cursor: pointer;
}
// ray test touch >

// ray test touch <
.payment-address {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;

  span {
    border-radius: 5px;
    border: 2.5px solid black;
    padding: 10px;
    font-weight: 700;
  }
}
// ray test touch >

// ray test touch <
.note-title {
  text-align: center;
  color: $d_orange;
  font-size: 1rem;
}
// ray test touch >

// ray test touch <
.note-text {
  text-align: center;
  color: $d_grey;
  font-size: 1rem;
}
// ray test touch >

.ledger-wrapper {
  text-align: center;
  padding: 15px;

  a {
    text-decoration: none !important;
  }
}

.address-label {
  text-align: left;
  margin-left: 15px;
  margin-top: 1rem;
}

.ledger-logo-wrapper {
  margin: auto;
  padding: 15px;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  .ledger-logo {
    font-size: 1rem;
    width: 150px;
    height: 100px;
    background-image: url("../../assets/img/ledger.svg");
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
  }
}

// ray test touch <
.confirmation-circle {
  border-radius: 50%;
  padding-top: 54px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: auto;
}
.completed-confirmations-circle {
  @extend .confirmation-circle;
  border: 5px solid $d_green;
  padding-top: 72px;
}
// ray test touch >

.pending-circle {
  @extend .confirmation-circle;
  border: 5px solid #998;
  padding-top: 64px;
  font-size: 1.5rem;
  font-weight: 600;
}

.cancelled-confirmations-circle {
  @extend .confirmation-circle;
  border: 5px solid $error-color;
  padding-top: 75px;
  font-size: 1rem;
  font-weight: 600;
}

// ray test touch <
.waiting-confirmations-circle {
  @extend .confirmation-circle;
  border: 5px solid orange;
}
// ray test touch >

// ray test touch <
.number-of-confirmations {
  font-size: 1.5rem;
  color: $d_green;
  font-weight: 600;
}
// ray test touch >

// ray test touch <
.status-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
}
// ray test touch >

// ray test touch <
.status-description {
  font-weight: 700;
  text-align: center;
  opacity: 0.5;
}
// ray test touch >

.info-redeem-title {
  font-size: 2rem;
  font-weight: 600;
  color: $d_yellow;
  margin-bottom: 1rem;

  span {
    color: black;
  }
}

.info-redeem-price {
  color: $d_grey;
  font-size: 1.5rem;
}

.typically-takes {
  font-weight: 600;
  color: $d_grey;
}

.btc-destination-address {
  font-weight: 600;
  color: $d_grey;
  margin-top: 1.5rem;
}

// ray test touch <
.pink-amount {
  color: $d_pink;
  text-align: center;
  font-weight: 600;
}
// ray test touch >

.orange-amount {
  color: $d_orange;
  text-align: center;
  font-weight: 600;
}

// ray test touch <
.completed-status-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  color: $d_green;
}
// ray test touch >

.redeem-modal {
  .redeem-modal-title {
    text-align: center;
    color: $d_yellow;
    font-size: 1rem;
    width: 100%;
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: 700;
  }
}

// ray test touch <
.modal-btn-green {
  width: fit-content;
  padding: 10px 15px;
  font-weight: 400;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #4ac948;
  color: #4ac948;
  font-size: 15px;
}
.modal-btn-green::after {
  content: url("../../assets/img/icons/external-link.svg");
  height: 20px;
  width: 20px;
  padding-left: 4px;
  color: $d_green;
  filter: brightness(0) saturate(100%) invert(68%) sepia(64%) saturate(530%) hue-rotate(66deg) brightness(89%) contrast(85%);
}
// ray test touch >

// ray test touch <
.btc-transaction-view {
  font-size: 1rem;
  width: fit-content;
  text-align: center;
  margin: auto;
}
// ray test touch >

// ray test touch <
.btc-transaction-id {
  @extend .btc-transaction-view;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
// ray test touch >

// ray test touch <
.btc-transaction-title {
  @extend .btc-transaction-view;
  color: $d_grey;
}
// ray test touch >

// ray test touch <
.btc-transaction {
  @extend .btc-transaction-view;
  font-weight: 600;
}
// ray test touch >

// ray test touch <
.btc-transaction-wrapper {
  margin-top: 2rem;
}
// ray test touch >

.redeem-step-title {
  display: inline;
  top: 15px;
  font-size: 1.2em;
  font-weight: 600;
  color: $d_pink;
  left: calc(50% - 20px);
}

// ray test touch <
.send-price {
  color: $d_grey;
}
// ray test touch >

.deposit-title {
  position: absolute;
  left: calc(50% - 32px);
  top: 3.4rem;
  font-weight: 600;
}

.custom-icon-size {
  font-size: 2rem;
  color: #998;
  margin-top: 15px;
  float: left;
  margin-top: 0rem;

  // float: left;
  &:hover {
    cursor: pointer;
  }
}

.wizard-redeem-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1rem;
  color: $d_yellow;
}

.inform-you {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal-content {
  padding: 3rem 3rem;
}

.modal-footer-border {
  border-top: 1px solid #dee2e6;
}

// ray test touch <
.send-price {
  margin-top: 5px;
}
// ray test touch >

.retry {
  text-align: center;
  width: 100%;

  .btn {
    width: 100%;
  }
}

.burn {
  text-align: center;
  width: 100%;

  .btn {
    width: 100%;
  }
}

.burn-desc {
  text-align: center;
  margin-bottom: 1rem;

  span {
    color: $d_pink;
  }
}

.pending-text {
  color: $d_yellow;
}

// ray test touch <
.green-text {
  color: $d_green;
  opacity: 1;
}
// ray test touch >

.table-page-link {
  cursor: pointer;
  padding:0.7rem;
}

.hover-underline:hover {
    text-decoration: underline;
}
