@import "../../variables";

.bold {
  font-weight: 600;
}

.locking-by {
  border: 2px solid #998;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 3rem;

  img {
    margin-bottom: 3px;
  }
}

.balances-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.bridge-fee {
  text-align: center;
  font-weight: 600;
  color: $d_grey;
}

.wizard-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.orange-text {
  color: $d_orange;
}

.refund-step>* {
  float: right;
}

// ray test touch <
.green-text {
  color: $d_green;
}
// ray test touch >

.ledger-wrapper {
  text-align: center;
  padding: 15px;

  a {
    text-decoration: none !important;
  }
}

.address-label {
  text-align: left;
  margin-left: 15px;
  margin-top: 1rem;
}

.ledger-logo-wrapper {
  margin: auto;
  padding: 15px;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  .ledger-logo {
    font-size: 1rem;
    width: 150px;
    height: 100px;
    background-image: url("../../assets/img/ledger.svg");
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
  }
}

// ray test touch <
.confirmation-circle {
  border-radius: 50%;
  padding-top: 54px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: auto;
}
// ray test touch >

// ray test touch <
.waiting-confirmations-circle {
  @extend .confirmation-circle;
  border: 5px solid orange;
}
// ray test touch >

// ray test touch <
.number-of-confirmations {
  font-size: 1.5rem;
  color: $d_green;
  font-weight: 600;
}
// ray test touch >

.btc-destination-address {
  font-weight: 600;
  color: $d_grey;
  margin-top: 1.5rem;
}

// ray test touch <
.pink-amount {
  color: $d_pink;
  text-align: center;
  font-weight: 600;
}
// ray test touch >

// ray test touch <
.btc-transaction-view {
  font-size: 1rem;
  width: fit-content;
  text-align: center;
  margin: auto;
}
// ray test touch >

.redeem-step-title {
  display: inline;
  top: 15px;
  font-size: 1.2em;
  font-weight: 600;
  color: $d_pink;
  left: calc(50% - 20px);
}

// ray test touch <
.send-price {
  color: $d_grey;
}
// ray test touch >

.deposit-title {
  position: absolute;
  left: calc(50% - 32px);
  top: 3.4rem;
  font-weight: 600;
}

.custom-icon-size {
  font-size: 2rem;
  color: #998;
  margin-top: 15px;
  float: left;
  margin-top: 0rem;

  // float: left;
  &:hover {
    cursor: pointer;
  }
}

.modal-content {
  padding: 3rem 3rem;
}

.modal-footer-border {
  border-top: 1px solid #dee2e6;
}

// ray test touch <
.send-price {
  margin-top: 5px;
}
// ray test touch >

.pending-text {
  color: $d_yellow;
}

// ray test touch <
.green-text {
  color: $d_green;
  opacity: 1;
}
// ray test touch >

.table-page-link {
  cursor: pointer;
  padding:0.7rem;
}

.hover-underline:hover {
    text-decoration: underline;
}
