[production]
>0.2%
not ie <= 99
not android <= 4.4.4
not dead
not op_mini all

[development]
>0.2%
not ie <= 99
not android <= 4.4.4
not dead
not op_mini all
last 1 chrome version
last 1 firefox version
last 1 safari version
