{
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 11,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "semi": ["error", "always"],
        "jsx-quotes": ["off"],
        "no-case-declarations": ["off"],
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true
            }
        ],
        "react/no-unescaped-entities": 0,
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "no-eval": "error",
        "prettier/prettier": 2
    }
}
