{
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 11,
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "plugins": [
        "@typescript-eslint", "prettier"
    ],
    "rules": {
        "semi": [
          "error",
          "always"
        ],
        "jsx-quotes": [
          "off"
        ],
        "quotes": [
          "error",
          "double",
          {
            "avoidEscape": true
          }
        ],
        "react/no-unescaped-entities": 0,
        "indent": ["error", 4],
        "max-len": [
          "error",
          {
            "code": 120
          }
        ],
        "no-eval": "error",
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto"
          }
        ]
    }
}
