
.horizontal-line {
  border-top-width: 2px;
  margin: 0.5rem 0;
}

.horizontal-line-pink {
  border-color: var(--d_pink);
}

.horizontal-line-yellow {
  border-color: var(--d_yellow);
}

.horizontal-line-blue {
  border-color: var(--d_blue);
}
