@import "../../variables";
@import "../../mixins";

.dashboard-page {
    text-align: center;
    min-height: 100vh;
    background-color: #fafafa;
    @include justifyCenter();
}
.card {
    width: 330px;
    height: 300px;
    background-color: white;
    border: none;
    border-radius: 10;
    padding: 15px 20px;
    h1 {
        color: $d-yellow;
        font-family: airbnb-cereal-bold;
        font-size: 16px;
    }
    h2 {
        color: black;
        opacity: 0.5;
        font-size: 16px;
        font-family: airbnb-cereal-bold;
    }
    h3 {
        font-size: 8px;
        font-family: airbnb-cereal-bold;
        text-transform: uppercase;
        margin-bottom: 0rem;
    }
    .values-container {
        text-align: left;
    }
    button {
        background-color: white;
        border-radius: 8px;
        width: 130px;
        padding: 10px 24px;
    }
    .button-assets-container {
        display: flex;
        align-items: flex-start;
        vertical-align: middle;
    }
    .external-link {
        margin-left: 3px;
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    }
    .card-top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
