@import "../../variables";
@import "../../mixins";

.dashboard-table {
  .dashboard-table-grid {
    display: grid;
    grid-auto-columns: auto;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
  }

  .data-container {
    padding: 15px 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0rem;
    opacity: 0.3;
  }

  p {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0rem;
  }

  .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.issue-page-text-container {
  width: 155px;
  height: 39px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
  }
}

.dashboard-graphs-container {
  margin-top: 40px;
}

.vaults-graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.parachain-graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.relay-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
