@import "../../variables";
@import "../../mixins";

.dashboard-table {
  .dashboard-table-grid {
    display: grid;
    grid-auto-columns: auto;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
  }

  .data-container {
    padding: 15px 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0rem;
    opacity: 0.3;
  }

  p {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0rem;
  }

  .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// ray test touch <
.title-line {
  height: 1px;
  margin-top: 0px;
  width: 100%;
}
// ray test touch >

.issue-page-text-container {
  width: 155px;
  height: 39px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
  }
}

// ray test touch <
.table-top-data-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 50px;
  margin-top: 40px;
  padding: 0px 10%;

  .values-container {
    padding: 10% 0px;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    justify-items: start;
    align-items: center;
  }

  .values-container.redeem-page {
    grid-template-rows: repeat(3, 0.3fr);
    row-gap: 20px;
  }
}
// ray test touch >

.dashboard-graphs-container {
  margin-top: 40px;
}

.vaults-graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.parachain-graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.relay-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
