@import "../../variables";
@import "../../mixins";

.dashboard-page {
    text-align: center;
    min-height: 100vh;
    background-color: #fafafa;
    @include justifyCenter();
}
.card {
    width: 330px;
    height: max-content;
    background-color: white;
    border: none;
    border-radius: 10;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    h1 {
        color: $d-yellow;
        font-family: airbnb-cereal-bold;
        font-size: 16px;
        margin-bottom: 0.4rem;
    }
    h2 {
        color: black;
        opacity: 0.5;
        font-size: 16px;
        font-family: airbnb-cereal-bold;
        margin-bottom: 0rem;
    }
    h3 {
        font-size: 8px;
        font-family: airbnb-cereal-bold;
        text-transform: uppercase;
        margin-bottom: 0rem;
        letter-spacing: 0.4px;
    }
    .values-container {
        text-align: left;
    }
    .card-top-content {
        padding: 0px 10px;
    }
    button {
        background-color: white;
        border-radius: 8px;
        width: 130px;
        padding: 10px 20px;
    }
    .button-assets-container {
        display: flex;
        align-items: flex-start;
        vertical-align: middle;
    }
    .external-link {
        margin-left: 3px;
        // filter: brightness(0) saturate(100%) invert(77%) sepia(49%) saturate(5098%) hue-rotate(350deg) brightness(102%)
        //     contrast(94%);
    }
    .card-top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.row-grid {
    display: grid;
    margin-top: 20px;
}
.chart-container {
    position: relative;
    margin-top: 10px;
}
canvas {
    height: 250px !important;
}
