.dashboard-card {
  h1 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.3rem;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  h3 {
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;
    letter-spacing: 0.4px;
  }

  .h1-xl {
    font-size: 25px;
    font-weight: 700;
  }
  
  .parachain-content-container {
    height: 250px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .status-circle {
    background: none;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.chart-container {
  position: relative;
  margin-top: 10px;
}

@media only screen and (min-width: 1200px) {
  .dashboard-card {
    h1 {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 10px;
        letter-spacing: 0.6px;
    }
    .parachain-content-container {
        width: 70%;
        padding-left: 30px;
    }
  }
  
  .chart-container {
    margin-top: 20px;
    height: 200px;
  }

  .parachain-content-container {
    width: 70%;
    padding-left: 30px;
  }
}
