@import "_variables";

.account-modal {
  a {
    text-decoration: none !important;
    color: $d_pink;
  }
}

.polkadot-extension-link {
  display: flex;
  align-items: center;
  width: 50%;
  box-shadow: 0 0 4px $d_pink;
  padding: 10px 16px;
  border-radius: 4px;
}

.account-item {
  font-weight: bold;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid $d_pink;
  &:hover {
    cursor: pointer;
    background-color: $d_pink;
    color: white;
  }
}

.account-item:not(:first-child) {
  margin-top: 1rem;
}

// TODO: should remove this quick workaround
ul {
  padding: 0;
}

li {
  list-style: none;
}
