
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
  /* TODO: should use `rem` */
  font-size: 25px;
  font-family: airbnb-cereal-bold;
}

@media (min-width: 1200px) {
  .title {
    font-size: 30px;
  }
}

.feedback {
  display: flex;
  flex-direction: column;
}

.feedback-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 16px 32px;
  /* TODO: hardcoded */
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

@media (max-width: 991px) {
  .feedback-item:not(:first-child) {
    margin-top: 16px;
  }
}

@media (min-width: 992px) {
  .feedback {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .feedback-item {
    min-width: 240px;
    min-height: 120px;
  }

  .feedback-item {
    margin: 8px;
  }
}
