:root {
  --colors-pink: hotpink;
}

.theme-interlay {
  --colors-cta-primary: var(--colors-pink);
  --colors-cta-secondary: var(--colors-neutral-white);
  --colors-text-primary: var(--colors-neutral-black);
}
