@import url('theme.base.css');

:root {
  --colors-yellow: #FECA2F;
}

.theme-kintsugi {
  --colors-cta-primary: var(--colors-yellow);
  --colors-cta-secondary: var(--colors-neutral-white);
  --colors-text-primary: var(--colors-neutral-black);
}