@import url('theme.base.css');

:root {
  --colors-dark-blue: #091133;
  --colors-yellow: #feca2f;
  --colors-dark-yellow: #e6b800;
  --box-shadow-none: none;
}

.theme-kintsugi {
  --colors-card-bg: var(--colors-dark-blue);
  --colors-card-secondary-bg: var(--colors-neutral-white-06);
  --colors-cta-primary: var(--colors-yellow);
  --colors-cta-primary-hover: var(--colors-dark-yellow);
  --colors-cta-primary-text: var(--colors-neutral-black);
  --colors-cta-secondary: var(--colors-neutral-white);
  --colors-text-primary: var(--colors-neutral-black);
  --colors-text-secondary: var(--colors-neutral-white);
  --colors-text-tertiary: var(--colors-neutral-light-grey);
  --colors-modal-bg: var(--colors-dark-blue);
  --colors-icon-default: var(--colors-neutral-white);
  --box-shadow-default: var(--box-shadow-none);
}
