
.app-tab {
  padding: 10px;
  font-family: airbnb-cereal-bold;
  text-transform: uppercase;
}

.app-tab:hover {
  cursor: pointer;
}

.active-tab {
  border-radius: 10px;
  color: white;
  transition: 0.25s ease-in-out;
}

.not-active-tab {
  opacity: 0.3;
}

.horizontal-line {
  border-top-width: 2px;
  margin: 0.5rem 0;
}