body {
	background: linear-gradient(-90deg, #ff9900e1, #f07353, #ef6b59, #e9436f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 25%;
	}
	50% {
		background-position: 100% 25%;
	}
	100% {
		background-position: 0% 25%;
	}
}

.transparent-background {
  background-color: transparent;
}
.polkabtc-background {
  background-image: url("../img/polkabtc/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.white-background {
   background-color: white;
}

.text-white {
  color: white;
}


 @media (max-width: 576px) {
    .float-xs-left{
      float: left!important;
    }
 }