
.btn-outline-bitcoin {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-bitcoin:hover {
  color: #000000;
  background-color: #ff9900;
  border-color: #ff9900;
}

.btn-outline-bitcoin:focus, .btn-outline-bitcoin.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.5);
}

.btn-outline-bitcoin.disabled, .btn-outline-bitcoin:disabled {
  color: #000000;
  background-color: transparent;
}

.btn-outline-bitcoin:not(:disabled):not(.disabled):active, .btn-outline-bitcoin:not(:disabled):not(.disabled).active,
.show > .btn-outline-bitcoin.dropdown-toggle {
  color: #000000;
  background-color: #ff9900;
  border-color: #ff9900;
}

.btn-outline-bitcoin:not(:disabled):not(.disabled):active:focus, .btn-outline-bitcoin:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-bitcoin.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 1, 122, 0.5);
}

.btn-outline-polkadot {
  color: #510101;
  border-color: #510101;
}

.btn-outline-polkadot:hover {
  color: whitesmoke;
  background-color: #ed3855;
  border-color: #ed3855;
}

.btn-outline-polkadot:focus, .btn-outline-polkadot.focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 1, 122, 0.5);
}

.btn-outline-polkadot.disabled, .btn-outline-polkadot:disabled {
  color: #000000;
  background-color: transparent;
}

.btn-outline-polkadot:not(:disabled):not(.disabled):active, .btn-outline-polkadot:not(:disabled):not(.disabled).active,
.show > .btn-outline-polkadot.dropdown-toggle {
  color: #000000;
  background-color: #ed3855;
  border-color: #ed3855;
}

.btn-outline-polkadot:not(:disabled):not(.disabled):active:focus, .btn-outline-polkadot:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-polkadot.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba230, 1, 122, 0.5);
}

.polkabtc-background {
  background-image: url("../img/polkabtc/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.white-background {
   background-color: white;
}

.text-white {
  color: white;
}

footer {
   padding: 0.9375rem 0;
   text-align: center;
   display: -webkit-flex;
   /* Safari */
   /* Safari 6.1+ */
   display: flex;
   font-size: 0.8rem;
   background-color: #eee;
 }
 
 footer ul {
   margin-bottom: 0;
   padding: 0;
   list-style: none;
 }
 
 footer ul li {
   display: inline-block;
 }
 
 footer ul li a {
   color: inherit;
   padding: 0.9375rem;
   text-transform: uppercase;
   border-radius: 3px;
   text-decoration: none;
   position: relative;
   display: block;
 }
 
 footer ul li a:hover {
   text-decoration: none;
 }
 
 footer ul li .btn {
   margin: 0;
 }
 
 footer ul.links-horizontal:first-child a {
   padding-left: 0;
 }
 
 footer ul.links-horizontal:last-child a {
   padding-right: 0;
 }
 
 footer ul.links-vertical li {
   display: block;
   margin-left: -5px;
   margin-right: -5px;
 }
 
 footer ul.links-vertical li a {
   padding: 5px;
 }
 
 footer .social-buttons a,
 footer .social-buttons .btn {
   margin-top: 5px;
   margin-bottom: 5px;
 }
 
 footer .footer-brand {
   float: left;
   height: 50px;
   padding: 15px 15px;
   font-size: 18px;
   line-height: 20px;
   margin-left: -15px;
 }
 
 footer .footer-brand:hover,
 footer .footer-brand:focus {
   color: #310000;
 }
 
 footer .copyright {
   padding: 15px 0;
 }
 
 footer .copyright .material-icons {
   font-size: 18px;
   position: relative;
   top: 3px;
 }
 
 footer .pull-center {
   display: inline-block;
   float: none;
 }

 @media (max-width: 576px) {
    .float-xs-left{
      float: left!important;
    }
 }