
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
  /* TODO: should not hard-code typography */
  font-size: 0.8rem;
}

.footer-row:not(:first-child) {
  margin-top: 12px;
}

.first-row > *:not(:first-child) {
  margin-left: 24px;
}

.second-row > *:not(:first-child) {
  margin-left: 8px;
}

.third-row > *:not(:first-child) {
  margin-left: 32px;
}

/* TODO: should avoid hard-coding */
.footer-gradient {
  background-image: linear-gradient(
    to left top,
    #f5882d,
    #f58035,
    #f4783c,
    #f37143,
    #f06a4a,
    #ef624e,
    #ed5952,
    #eb5157,
    #ea445b,
    #e83761,
    #e52766
  );
}
