.footer {
    padding: 50px;
    background-color: #f8f9fa;
    display: flex;
    text-align: center;
    justify-content: stretch;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 0.5fr repeat(5, 1fr);
    column-gap: 20px;
    width: 100%;
  }
  
  .title {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: left;
  }
  
  .footer-items-container ul {
    display: flex;
    flex-direction: column;
  }
  
  .footer-items-container li {
    text-align: left;
    font-size: 16px;
    padding: 6px 0px;
  }
  .center-container {
    display: flex;
    justify-content: center;
  }
  .padding-for-logo-2 {
    padding-top: 50px;
  }
  .logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-top: 20px;
  }
  .newsletter-input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 10px;
  }
  ::placeholder {
    font-weight: 300;
  }
  .newsletter-container {
    display: flex;
    flex-direction: row;
  }
  .signup-container {
    display: flex;
  }
  .newsletter-button {
    width: 120px;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #4ac948;
    color: #4ac948;
    margin-left: 0px;
    margin-top: 10px;
  }
  .newsletter-button:hover {
    color: white;
    background-color: #4ac948;
    border: 1px solid #4ac948;
  }
  .signup-text-container {
    margin-top: 3px;
  }
  .rights-container {
    margin-top: 10px;
    font-weight: 700;
  }
  
  /* TODO: Tablet resposiveness (while updating to design system) */
  @media only screen and (max-width: 1024px) {
    .footer {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
    .grid-container {
      padding-top: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 20px;
    }
    .logos-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 20px;
    }
    .padding-for-logo-2 {
      padding-top: 0px;
      padding-left: 50px;
    }
    .center-container {
      display: flex;
      justify-content: flex-start;
    }
 
  }
  