
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
  /* TODO: should not hard-code typography */
  font-size: 0.8rem;
}

.footer-row:not(:first-child) {
  margin-top: 12px;
}

.first-row > *:not(:first-child) {
  margin-left: 24px;
}

.second-row > *:not(:first-child) {
  margin-left: 8px;
}

.third-row > *:not(:first-child) {
  margin-left: 32px;
}
