@import "../../variables";
@import "../../mixins";

.staked-relayer-page{
    text-align: center;

    .staked-button{
        margin-top: 20px;
    }

    .title{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem; 
        font-weight: 600;
    }
    .stats{
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
    }

    .table-wrapper{
        width: 100%;
        table {
            table-layout: auto;
            width: 1200px;
            margin: auto;
            overflow: scroll;
            text-align: center;
        }

        th, td{
            padding: 5px 10px;
            border: 1px solid #ddd;
            
            i{
                color: rgba(0, 0, 0, 0.5);
            }
            p{
                margin: 0px;
            }
        }

        td {
            word-break: break-all;
        }

        thead{
            background-color: #eaeaea;
        }    
    }

    .circle {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: inline-block;
    }

    .green-circle{
        @extend .circle;
        border: 1px solid $green-color;
        background-color: $green-color;
    }

    .yellow-circle{
        @extend .circle;
        border: 1px solid $yellow-color;
        background-color: $yellow-color;
    }

    .orange-circle{
        @extend .circle;
        border: 1px solid $orange-color;
        background-color: $orange-color;
    }

    .red-circle{
        @extend .circle;
        border: 1px solid $red-color;
        background-color: $red-color;
    }

    .header{
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .report-button-wrapper{
        padding-top: 2rem;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .de-note{
        margin-top: 20px;
        margin-bottom: 50px;
    }

    @include mobile-range{
        .de-note {
            margin-bottom: 100px;
        }
    }

    @include tablet-range{
        .de-note {
            margin-bottom: 100px;
        }
    }
}

.green-text{
    color: $green-color;
    font-weight: 600;
}

.orange-text{
    color: $orange-color;
    font-weight: 600;
}

.red-text{
    color: $red-color;
    font-weight: 600;
}

.yellow-text{
    color: $yellow-color;
    font-weight: 600;
}

.vote-label{
    font-weight: 600;
}