
.page-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
  /* TODO: hardcoded */
  font-family: airbnb-cereal-bold;
}

.main-title {
  /* TODO: should use `rem` */
  font-size: 25px;
  margin-bottom: 4px;
}

.sub-title {
  font-size: 11px;
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 30px;
  }

  .sub-title {
    font-size: 12px;
  }
}
