
/* TODO: should clean up */
a.interlay-link:link {
  text-decoration: none;
}
a.interlay-link:visited {
  text-decoration: none;
}
a.interlay-link:hover {
  text-decoration: none;
}
a.interlay-link:active {
  text-decoration: none;
}
a.interlay-link {
  text-decoration: none;
  background-color: transparent;
}
a.interlay-link:hover {
  text-decoration: underline;
}
a.interlay-link:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a.interlay-link:not([href]):not([tabindex]):hover,
a.interlay-link:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a.interlay-link:not([href]):not([tabindex]):focus {
  outline: 0;
}