
.dashboard-fade-in-animation {
  animation: dashboard-fade 0.5s ease-in;
}

@keyframes dashboard-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dashboard-min-height {
  min-height: 100vh;
}
