@import "custom";
@import "mixins";
@import "variables";

@include font-fam("airbnb-cereal-light", "./assets/fonts/airbnb-cereal/AirbnbCerealLight");
@include font-fam("airbnb-cereal-bold", "./assets/fonts/airbnb-cereal/AirbnbCerealBold");
@include font-fam("airbnb-cereal-book", "./assets/fonts/airbnb-cereal/AirbnbCerealBook");

html,
body,
div,
p,
a,
span,
button,
i,
form,
table,
tr,
td,
th,
li,
ul {
    font-family: airbnb-cereal-light, "Comic Sans MS", Arial;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.header {
    text-align: center;
}

span {
    &.dangerText {
        color: #dc3545;
    }

    &.infoText {
        color: #17a2b8;
        font-weight: bold;
    }
}

.dropdown-toggle,
.dropdown-menu {
    width: 100%;
}

.custom-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
}

.custom-textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
    outline: none;
    :focus {
        outline: none !important;
    }
}

body {
    .input-error {
        color: $error-color;
        margin-top: -1rem;
    }

    .error-borders {
        border-color: $error-color;
    }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
    outline: 0px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.markdown img {
    max-width: 100%;
}

.btn-outline-polkadot {
    color: #510101;
    border-color: #510101;
}

.btn-outline-polkadot:hover {
    color: whitesmoke;
    background-color: #ed3855;
    border-color: #ed3855;
}

.btn-outline-polkadot:focus,
.btn-outline-polkadot.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 1, 122, 0.5);
}

.btn-outline-polkadot.disabled,
.btn-outline-polkadot:disabled {
    color: #000000;
    background-color: transparent;
}

.btn-outline-polkadot:not(:disabled):not(.disabled):active,
.btn-outline-polkadot:not(:disabled):not(.disabled).active,
.show > .btn-outline-polkadot.dropdown-toggle {
    color: #000000;
    background-color: #ed3855;
    border-color: #ed3855;
}

.btn-outline-polkadot:not(:disabled):not(.disabled):active:focus,
.btn-outline-polkadot:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-polkadot.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 1, 122, 0.5);
}

.btn-outline-danger {
    color: #c71c22;
    border-color: #c71c22;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #c71c22;
    border-color: #c71c22;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 28, 34, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #c71c22;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #c71c22;
    border-color: #c71c22;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 28, 34, 0.5);
}

.transparent-background {
    background-color: transparent;
}
.polkabtc-background {
    background-image: url("./assets/img/polkabtc/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.white-background {
    background-color: white;
}

.text-white {
    color: white;
}

.dropdown-menu {
    a {
        display: block;
        padding-left: 15px;
    }
}

@media (max-width: 576px) {
    .float-xs-left {
        float: left !important;
    }
}

a {
    color: #510101;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #050000;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

.btn-primary {
    color: #fff;
    background-color: #510101;
    border-color: #510101;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2b0101;
    border-color: #1f0000;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(107, 39, 39, 0.5);
}

.pink-button {
    border: 1px solid $d_pink;
    color: $d_pink;
    background-color: white;
    font-weight: 600;
    &:hover {
        color: white;
        background-color: $d_pink;
        border: 1px solid $d_pink;
    }
    &:disabled {
        color: white !important;
        background-color: $d_pink !important;
        border: 1px solid $d_pink !important;
    }
}

.green-button {
    border: 1px solid $d_green;
    color: $d_green;
    background-color: white;
    font-weight: 600;
    &:hover {
        color: white;
        background-color: $d_green;
        border: 1px solid $d_green;
    }
    &:disabled {
        color: white !important;
        background-color: $d_pink !important;
        border: 1px solid $d_pink !important;
    }
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #510101;
    border-color: #510101;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1f0000;
    border-color: #120000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(107, 39, 39, 0.5);
}

.btn-secondary {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:hover {
    color: #212529;
    background-color: #ececec;
    border-color: #e6e6e6;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #212529;
    background-color: #e6e6e6;
    border-color: #dfdfdf;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #73a839;
    border-color: #73a839;
}

.btn-success:hover {
    color: #fff;
    background-color: #5f8b2f;
    border-color: #59822c;
}

.btn-success:focus,
.btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(136, 181, 87, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #73a839;
    border-color: #73a839;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #59822c;
    border-color: #527829;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(136, 181, 87, 0.5);
}

.form-group {
    .list-group-item {
        strong {
            word-break: break-all;
        }
    }
}

.form-check {
    .form-check-label {
        word-break: break-all;
    }
}

// Circles

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.green-circle {
    @extend .circle;
    border: 1px solid $green-color;
    background-color: $green-color;
}

.yellow-circle {
    @extend .circle;
    border: 1px solid $yellow-color;
    background-color: $yellow-color;
}

.orange-circle {
    @extend .circle;
    border: 1px solid $orange-color;
    background-color: $orange-color;
}

.red-circle {
    @extend .circle;
    border: 1px solid $red-color;
    background-color: $red-color;
}

// text colors

.green-text {
    color: $green-color;
    font-weight: 600;
}

.orange-text {
    color: $orange-color;
    font-weight: 600;
}

.red-text {
    color: $red-color;
    font-weight: 600;
}

.yellow-text {
    color: $yellow-color;
    font-weight: 600;
}

// text types
.heavy {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.stats {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

#basic-navbar-nav {
    .navbar-nav {
        .dropdown.nav-item {
            border: 1px solid #343a40;
            max-height: 31px;
            margin-right: 0.5rem;
        }
    }
}

.divider-text {
    width: 100%;
    padding: 0.25rem 1.5rem;
}

.fade-in-animation {
    animation: fade 0.5s ease-in;
}

.static-fade-in-animation {
    animation: fade 0.5s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.top-bar {
    min-height: 80px;
}

.main-loader {
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}

.warning-color {
    color: #510101;
}

.min-height-1 {
    min-height: 1rem;
}

.min-height-2 {
    min-height: 2rem;
}

.min-height-3 {
    min-height: 3rem;
}

.min-height-4 {
    min-height: 4rem;
}

.min-height-5 {
    min-height: 5rem;
}

.badge-style {
    font-size: 1rem;
    padding: 0.25rem;
}
