// ray test touch <
@import "custom";

// RE: https://drafts.csswg.org/css-fonts/#font-weight-numeric-values
// TODO: should set up based on https://css-tricks.com/snippets/css/using-font-face/
// TODO: should follow https://tailwindcss.com/docs/adding-base-styles#font-face-rules and https://tailwindcss.com/docs/adding-base-styles#using-classes-in-your-html
// TODO: should follow https://tailwindcss.com/docs/font-family
@font-face {
  font-family: "airbnb-cereal";
  src: url("./assets/fonts/airbnb-cereal/AirbnbCerealLight.ttf") format("truetype");
  font-weight: 300; // light
  font-style: normal;
}

@font-face {
  font-family: "airbnb-cereal";
  src: url("./assets/fonts/airbnb-cereal/AirbnbCerealBook.ttf") format("truetype");
  // TODO: should double-check as `book` is not a standard term
  font-weight: 400; // book
  font-style: normal;
}

@font-face {
  font-family: "airbnb-cereal";
  src: url("./assets/fonts/airbnb-cereal/AirbnbCerealMedium.ttf") format("truetype");
  font-weight: 500; // medium
  font-style: normal;
}

@font-face {
  font-family: "airbnb-cereal";
  src: url("./assets/fonts/airbnb-cereal/AirbnbCerealBold.ttf") format("truetype");
  font-weight: 700; // bold
  font-style: normal;
}

// TODO: not used for now
@font-face {
  font-family: "airbnb-cereal";
  src: url("./assets/fonts/airbnb-cereal/AirbnbCerealExtraBold.ttf") format("truetype");
  font-weight: 800; // extra bold
  font-style: normal;
}

// TODO: not used for now
@font-face {
  font-family: "airbnb-cereal";
  src: url("./assets/fonts/airbnb-cereal/AirbnbCerealExtraBold.ttf") format("truetype");
  font-weight: 900; // black
  font-style: normal;
}

html,
body,
div,
p,
a,
span,
button,
i,
form,
table,
tr,
td,
th,
li,
ul {
  font-family: "airbnb-cereal", Arial;
}

// MEMO inspired by https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fade-in-animation {
  animation: fade-keyframes 0.5s ease-in;
}

@keyframes fade-keyframes {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// ray test touch >
