@import "./variables";

@mixin mobile-range {
  @media (max-width: $mobile-large-size) {
    @content;
  }
}

@mixin tablet-range {
  @media (max-width: $tablet-size) {
    @content;
  }
}

@mixin small-desktop-range {
  @media (max-width: $desktop-size) {
    @content;
  }
}

@mixin large-desktop-range {
  @media (min-width: $desktop-size +1) {
    @content;
  }
}

@mixin button-variant($background, $border, $hover-background, $hover-border, $active-background, $active-border) {}

// Dashboard
@mixin justifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexCenter {
  @include justifyCenter();
  align-items: center;
}
