// ray test touch <<
$green-color: #a2e75e;
$red-color: #ef4444;
$orange-color: #ff9900;
$error-color: #ef4444;

$mobile-large-size: 768px;
$tablet-size: 992px;
$desktop-size: 1200px;

// Dashboard colors
$d_yellow: #ff9900;
$d_pink: #075abc;
$d_grey: #6b7280;
$d_orange: #db5aad;
$d_green: #a2e75e;
$d_red: #ef4444;
// ray test touch >>
