// ray test touch <
$mobile-large-size: 768px;
$tablet-size: 992px;
$desktop-size: 1200px;

// Dashboard colors
$d_interlayCalifornia: #ff9900;
$d_interlayDenim: #075abc;
$d_interlayPaleSky: #6b7280;
$d_interlayMulberry: #db5aad;
$d_interlayConifer: #a2e75e;
$d_interlayCinnabar: #ef4444;
// ray test touch >
