$brand-color: #510101;
$background-color: #ffffff;
$body-color: #e9ecef;
$text-color: rgba(0, 0, 0, 0.5);
$green-color: #73a839;
$red-color: #c71c22;
$orange-color: #ff9900;
$yellow-color: #ffea61;
$error-color: #dc3545;

// screen sizes
$mobile-extra-small: 480px;
$mobile-small-size: 576px;
$mobile-large-size: 768px;
$tablet-size: 992px;
$desktop-size: 1200px;

//dashboard colors
$d_yellow: #f7931a;
$d_pink: #e6007a;
$d_blue: #1c86ee;
$d_grey: #a9a9a9;
$d_orange: #f95738;
$d_green: #4ac948;
$d_red: #f32013;

.font-yellow {
    color: $d_yellow;
}
.font-pink {
    color: $d_pink;
}
.font-blue {
    color: $d_blue;
}
