
:root {
  --palette-common-black: #000;
  --palette-common-white: #fff;
  /* RE: bootstrap breakpoints */
  --breakpoints-value-xs: '0px';
  --breakpoints-value-sm: '576px';
  --breakpoints-value-md: '768px';
  --breakpoints-value-lg: '992px';
  --breakpoints-value-xl: '1200px';
    /* TODO: should name descriptively */
  /* ray test touch < */
  --d_pink: #e6007a;
  /* ray test touch > */
  --d_yellow: #f7931a;
  --d_blue: #1c86ee;
  --body-color: #e9ecef;
}

.interlay-text-white {
  color: var(--palette-common-white);
}