
:root {
  /* TODO: placeholder for now */
  /* --palette-background-default: #303030;
  --palette-primary-main: #90caf9;
  --palette-primary-dark: #648dae;
  --palette-secondary-main: #f48fb1;
  --palette-warning-main: #ff9800;
  --palette-success-main: #4caf50;
  --palette-error-main: #f44336;
  --palette-text-primary: #fff;
  --palette-text-secondary: rgba(255, 255, 255, 0.7); */
}
