@import "../../variables";
@import "../../mixins";

.vault-dashboard-page {
    display: flex;
    justify-content: center;

    .header {
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.request-header {
    text-align: center;
    margin-bottom: 1rem;
}

.vault-empty-space {
    margin-bottom: 1rem;
}

.current-collateral {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.replace-table {
    margin-bottom: 2rem;
}

.basic-addon {
    .input-error {
        margin-top: 0.1rem;
    }
}
