@import url('theme.base.css');

:root {
  --colors-light-blue: #075abc;
  --colors-light-blue-10: rgba(7, 90, 188, 0.1);
  --colors-light-blue-90: rgba(7, 90, 188, 0.9);
  --colors-lighter-blue: #c4e7fa;
  --box-shadow-black: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.theme-interlay {
  --colors-border: var(--colors-neutral-black-25);
  --colors-bg-primary: var(--colors-neutral-white);
  --colors-card-bg: var(--colors-neutral-white);
  --colors-card-secondary-bg: var(--colors-light-blue-10);
  --colors-cta-primary: var(--colors-light-blue);
  --colors-cta-primary-hover: var(--colors-light-blue-90);
  --colors-cta-primary-text: var(--colors-neutral-white);
  --colors-cta-secondary: var(--colors-lighter-blue);
  --colors-cta-secondary-text: var(--colors-light-blue);
  --colors-cta-outlined-text: var(--colors-neutral-black-9);
  --colors-cta-outlined-border: var(--colors-neutral-black-25);
  --colors-cta-outlined-hover: var(--colors-neutral-black-05);
  --colors-text-primary: var(--colors-neutral-black);
  --colors-text-secondary: var(--colors-light-blue);
  --colors-text-tertiary: var(--colors-neutral-light-grey);
  --box-shadow-default: var(--box-shadow-black);
  /* Tabs */
  --colors-tabs-bg: var(--colors-neutral-white);
  --colors-tabs-text: var(--colors-neutral-black-9);
  --colors-tabs-active-color: var(--colors-light-blue);
  --colors-tabs-active-bg: var(--colors-lighter-blue);
  /* Loading Spinner */
  --colors-indeterminate-color: var(--colors-light-blue);
  --colors-indeterminate-bg: var(--colors-lighter-blue);
  /* Score Bar */
  --colors-score-bar-indicator-color: var(--colors-light-blue);
  --colors-score-bar-separator-color: var(--colors-neutral-black);
}
