@import url('theme.base.css');

:root {
  --colors-dark-blue: #091133;
  --colors-mid-blue: #434e66;
  --colors-yellow: #ffcb00;
  --colors-dark-yellow: #e6b700;
  --box-shadow-none: none;
}

.theme-kintsugi {
  --colors-border: var(--colors-mid-blue);
  --colors-bg-primary: var(--colors-dark-blue);
  --colors-card-bg: var(--colors-dark-blue);
  --colors-card-secondary-bg: var(--colors-neutral-white-06);
  --colors-cta-primary: var(--colors-yellow);
  --colors-cta-primary-hover: var(--colors-dark-yellow);
  --colors-cta-primary-text: var(--colors-neutral-black);
  --colors-cta-secondary: var(--colors-neutral-white);
  --colors-cta-secondary-text: var(--colors-neutral-black);
  --colors-cta-outlined-text: var(--colors-yellow);
  --colors-cta-outlined-border: var(--colors-yellow);
  --colors-text-primary: var(--colors-neutral-white);
  --colors-text-secondary: var(--colors-yellow);
  --colors-text-tertiary: var(--colors-neutral-light-grey);
  --box-shadow-default: var(--box-shadow-none);
}
